@font-face {
  font-family: ANBold;
  src: url(../fonts/AvenirNext-Bold.ttf);
}
@font-face {
  font-family: ANBoldItalic;
  src: url(../fonts/AvenirNext-BoldItalic.ttf);
}
@font-face {
  font-family: ANDemiBold;
  src: url(../fonts/AvenirNext-DemiBold.ttf);
}
@font-face {
  font-family: ANDemiBoldItalic;
  src: url(../fonts/AvenirNext-DemiBoldItalic.ttf);
}
@font-face {
  font-family: ANHeavy;
  src: url(../fonts/AvenirNext-Heavy.ttf);
}
@font-face {
  font-family: ANHeavyItalic;
  src: url(../fonts/AvenirNext-HeavyItalic.ttf);
}
@font-face {
  font-family: ANItalic;
  src: url(../fonts/AvenirNext-Italic.ttf);
}
@font-face {
  font-family: ANMedium;
  src: url(../fonts/AvenirNext-Medium.ttf);
}
@font-face {
  font-family: ANMediumItalic;
  src: url(../fonts/AvenirNext-MediumItalic.ttf);
}
@font-face {
  font-family: AnRegular;
  src: url(../fonts/AvenirNext-Regular.ttf);
}
@font-face {
  font-family: ANUltraLight;
  src: url(../fonts/AvenirNext-UltraLight.ttf);
}
@font-face {
  font-family: ANUltraLight;
  src: url(../fonts/AvenirNext-UltraLight.ttf);
}
