/* CSS Styling to make web page responsive... */

/* Global style. General Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5em;
  font-family: AvenirNext-DemiBold;
  padding-top: 60px;
  overflow-x: hidden;
}
h1 {
  font-family: ANDemiBold;
  font-size: 20px;
  color: black;
  text-align: left;
  margin-left: 20px;
  line-height: 1.03;
}
h2 {
  font-family: ANDemiBold;
  font-size: 18px;
  color: #707070;
  margin-left: 20px;
  line-height: 1.4;
}
h3 {
  font-family: ANDemiBold;
  font-size: 18px;
  color: white;
  line-height: 1.4;
  text-align: center;
}
p {
  font-family: ANRegular;
  font-size: 14px;
  color: white;
  line-height: 1.4;
  text-align: center;
}
h4 {
  font-family: ANDemiBold;
  font-size: 18px;
  color: black;
  line-height: 1.4;
  text-align: center;
}
.learnMore {
  color: #0071bc;
  font-family: ANDemiBold;
  font-size: 16px;
}
.copyrights {
  font-family: ANRegular;
  font-size: 12px;
  color: white;
  margin-left: 20px;
}
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}	
.my-navbar {
  background-color: white;
  min-height: 80px;
  box-shadow: 0 3px 10px 0 rgba(186, 186, 186, 0.13);
}
.my-navbarBottom {
  background-color: #393939;
}
.navbar-nav{
	margin-top:0px !important;
	margin-left: 40px !important;
}	
.navbar-nav a{
	font-family: ANDemiBold !important;
}	
.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  color:#FFFFFF !important;
  font-family: ANMedium;
  font-size:16px;
}
.navbar-brand img {
  margin: 20px 0px 0px 20px !important;
}
.navbar-brand img:hover {
	background-color:none !important;
}
.navbar-fixed-top .nav {
  padding: 20px 0;
}
.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}
.child-navbar-toggle {
  margin-top: 30px !important;
  padding: 9px 10px !important;
}
.navbar-default .navbar-nav > li a {
  font-family: AvenirNext-Medium;
  font-size: 16px;
}
.navbar-default .navbar-nav > li.active > a {
  background: none;
  font-family: ANDemiBold;
  color: #0071bc;
}
.navbar-inverse {
  background-color: #393939;
  border-radius:0px;
  height:60px;
  padding:0px 40px;
  margin-top:30px;
}
.navbar-inverse .navbar-nav > li a {
  font-family: ANMedium;
  font-size: 16px;
  color: white;
  line-height:59px;
  padding:0px 20px;
}
.navbar-inverse .navbar-nav > li a:hover {
  font-family: ANMedium;
  color: white;
  background-color: #febe0e;
}
img {
  margin: auto;
}
.bottom-headings {
  color: #707070;
  font-family: ANMedium;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
}
.para {
  color: #707070;
  font-family: ANMedium;
  font-size: 14px;
}

.myCarousel h1 {
  color: white;
  font-family: AnDemiBold;
  font-size: 30px;
}
.carousel {
  margin: 0px auto;
}
.carousel-caption {
  right: 10%;
  top: 40%;
  left: auto;
  bottom: auto;
}
.choose-us {
  text-align: center;
  margin:30px;
  font-size: 30px;
  font-family: ANBold;
  color: #000000;
}
.featurette h2 {
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 250px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #393939;
  color: white;
  cursor: pointer;
  padding: 10px;
  opacity: 0.5;
  border-radius: 4px;
}
.btn-warning {
  background-color: #fbc400;
  margin: 0px auto;
}
.btn-warning:hover {
  background-color: #ffcc3f;
}
#myBtn:hover {
  background-color: #555;
}

.bottomContents {
  background-color: #393939;
}
/* .bottomContents ul li {
  margin-top: 5px;
} */

.bottomContents ul li a {
  color: white;
  font-family: ANMedium;
  font-size: 12px;
  margin: 30px;
  padding: 1em;
  margin: 1em;
}
#bottomnav li a {
  color: white;
  background: none;
}
#bottomnav li a:hover {
  color: white;
  background-color: #febe0e;
}
.comingsoon {
  color: #bababa;
  font-family: ANDemiBoldItalic;
  font-size: 18px;
  text-align: center;
}

.mysection {
  background-color: #f4f4f4;
}
.card {
  background-color: white;
  margin: 20px auto;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  height: auto;
}

.card-img-bottom {
  height: auto;
  width: auto;
}
.card-block {
  margin-top: 40px;
}
.card-text {
  color: #707070;
  font-family: ANMedium;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
/* 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active {
  background-color: #febe0e;
} */

.page-footer {
  background-color: #393939;
  color: white;
  font-family: ANRegular;
  font-size: 16px;
  border-radius: 0px;
}
.footer-menu {
  margin: 25px 0px 0px 25px;
}
.list {
  margin-top: 10px;
  padding: 10px;
  line-height: 1.35;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.footer-menu li a:hover {
  background-color: #febe0e;
}
.footer-menu li.active > a {
  background-color: #febe0e;
}
.list li {
  color: white;
  list-style-type: none;
}
.list li a {
  color: white;

  text-decoration: none;
}

.footer-copyright {
  font-family: ANMedium;
  font-size: 12px;
  margin-left: 40px;
}

.fetures {
  background-color: #0071bc;
  border: solid 5px white;
}

.table tbody tr td {
  font-family: ANDemiBold;
  font-size: 16px;
  color: #707070;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  border-bottom: 2px solid #0071bc;
  background: none;
  color: #707070;
  font-family: AnRegular;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  margin-bottom: 20px;
}
#panel {
  background-color: #0071bc;
  background-color: var(--cerulean);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
}